<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-list-item
        [dataSource]="authors.results"
        [tableConfig]="tableConfig"
        [pagination]="true"
        [tablePaginationConfig]="tablePaginationConfig"
        paginationClass="d-flex justify-content-center mt-2"
        (onPagination)="onPageNumberChange($event)"
        (onRowAddFavBtnClick)="onClickAddFavBtn($event)"
        (onRowRemoveFavBtnClick)="onRemoveFromFavList($event)"
        *ngIf="authors"></app-list-item>
    </div>
  </div>
</div>
